@use '../abstracts/breakpoints';

// Hero
.hero-animation {
  & .hero__bicycle {
    animation: moveInLeft 1s backwards ease-out 1.5s;
  }

  & .hero__btn {
    animation: pulsate--white 1s ease-in 2s 5;
  }
}

// Bicycle
.bicycle-animation {
  & .bicycle__spokes {
    animation: bike-rotate 2s infinite linear;
  }

  & .bicycle__gear {
    animation: bike-rotate 3s infinite linear;
  }

  & .bicycle__ground {
    animation: bike-move infinite linear;
    animation-delay: 2.5s;

    @include breakpoints.respond(phone-reg) {
      animation: none;
    }
  }

  & .bicycle__ground--1 {
    animation-duration: 3s;
  }

  & .bicycle__ground--2 {
    animation-duration: 4s;
  }

  & .bicycle__ground--3 {
    animation-duration: 5s;
  }
}
