//Shadows
$shadow-black-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-black-light: 0 1rem 2rem rgba(0, 0, 0, 0.2);
$shadow-white-dark: 0 2rem 6rem rgba(255, 255, 255, 0.3);
$shadow-white-light: 0 1rem 2rem rgba(255, 255, 255, 0.2);
