@use '../abstracts/breakpoints';

.app {
  visibility: hidden;
  opacity: 0;
  height: 0;

  //TEST
  // height: 100%;

  &__container {
    width: 100%;
    height: 0;

    //TEST
    // height: auto;
  }
}
