@use '../utilities/flow';
@use '../abstracts/breakpoints';

.trip {
  //child
  &__checklist {
    //styling
    background-color: var(--clr-neutral-100);
    border-radius: 5px;
    border-left: 5px solid var(--clr-accent-200);
    cursor: pointer;
    transition: all 0.3s;

    //position
    position: relative;
    margin-bottom: flow.$margin-sm;

    //sizing
    width: 100%;
    padding: 1.5rem 2.25rem;

    @include breakpoints.respond(tab-port) {
      width: 100%;
    }
  }

  //children of Checklist
  &__summary {
    display: grid;
    grid-template-areas:
      'title title'
      'loc loc'
      'time trip';
    gap: 0.5rem;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  //children of Summary
  &__title {
    font-weight: 600;
    grid-area: title;
  }

  &__emoji {
    position: absolute;
    right: 1rem;
    font-size: var(--fs-label);
  }

  &__location {
    grid-area: loc;
  }

  &__time {
    grid-area: time;
  }

  &__trip {
    grid-area: trip;
  }

  &__icon {
    font-size: 2rem;
    color: transparent;
    text-shadow: 0 0 0 var(--clr-accent-100);
    margin-right: flow.$margin-mn;
  }
}
