@use '../abstracts/breakpoints';

.trips {
  //sizing
  height: 68vh;
  width: 30rem; //match width to Form

  //appearance
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;

  @include breakpoints.respond(phone-mini) {
    width: 97%;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}
